<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
        <div class="col-md-12 mb-3 mt-5">
          <div class="card green-card">
            <div class="card-body">
             <h2 class="text-center">Create a new User</h2>
              <%= form_with model: @user, url: create_user_path do |form|  %>
                <% if flash[:error] %>
                    <%= flash[:error] %>
                <% end %>

                <p>
                  <% @user.errors.each do |error| %>
                  <%= error.full_message %>
                  <% end %>
                </p>
                <p>
                  <%= form.label :avatar %><br>
                  <%= form.file_field :avatar %><br><br>

                  <%= form.label :name %><br>
                  <%= form.text_field :name, placeholder: 'e.g. AlexG', class: "form-control" %><br>

                  <%= form.label :email %><br>
                  <%= form.text_field :email, placeholder: 'e.g. alex@g.com', class: "form-control" %><br>

                  <%= form.label :password %><br>
                  <%= form.password_field :password,  placeholder: 'password', class: "form-control" %><br>

                  <%= form.label :password_confirmation %><br>
                  <%= form.password_field :password_confirmation,  placeholder: 'password confirmation', class: "form-control" %><br>

                <%= form.submit 'Submit', class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
